@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font is imported in _document.tsx */

:root {
  --font-family: "Anuphan", serif;
  --font-weight: 400;
}

* {
  @apply box-border p-0 m-0 transition-all duration-300;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  @apply overflow-x-hidden max-w-[100vw] scroll-smooth;
  font-family: var(--font-family);
}

/* Animated background styling */
.animated-background {
  background: linear-gradient(-45deg, #212121, #131313, #000000);
  background-size: 250% 250%;
  -webkit-animation: gradient-animation 25s ease infinite;
  -moz-animation: gradient-animation 25s ease infinite;
  animation: gradient-animation 25s ease infinite;
}

.paused {
  -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
  animation-play-state: paused;
}

@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* This styling is to remove the outline in the carousel slides */
.focusRing___1airF.carousel__slide-focus-ring {
  outline: none !important;
}

/* All articles holder styling */
#all-articles-holder {
  scroll-snap-type: y mandatory;
  scrollbar-width: none; /* Firefox */
}

#all-articles-holder::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* MEDIA QUERIES */

/* If width is less than 320px, then everything will be hidden except for "use a bigger screen" message */
@media screen and (max-width: 320px) {
  #small-screen-holder {
    @apply flex items-center justify-center;
  }

  #main-ui-holder {
    display: none;
  }
}

/* If width is more than 320px, show the UI */
@media screen and (min-width: 320px) {
  #small-screen-holder {
    @apply hidden;
  }

  #main-ui-holder {
    display: block;
  }
}

/* If width is more than 320px and height is less than 540px, then everything will be hidden except for "use a bigger screen" message */
@media screen and (min-width: 320px) and (max-height: 540px) {
  #small-screen-holder {
    @apply flex items-center justify-center;
  }

  #main-ui-holder {
    display: none;
  }
}

/* If width is more than 320px and height is more than 540px, show the UI */
@media screen and (min-width: 320px) and (min-height: 540px) {
  #small-screen-holder {
    @apply hidden;
  }

  #main-ui-holder {
    display: block;
  }
}

/* If the height is less than 667px and width is greater than 1024px, then the emoji sizes are decreased and values are hidden */
@media screen and (max-height: 667px) and (min-width: 1024px) {
  .tippy-tooltip {
    display: block !important;
  }

  .emojis-holder .emoji-holder {
    @apply h-20 w-20;
  }

  .emojis-holder .value-holder {
    @apply hidden;
  }
}
